<template>
  <div id="app">
    <zoho-form></zoho-form>
  </div>
</template>

<script>
  import ZohoForm from './components/ZohoForm.vue';

  export default {
    components: {
      ZohoForm
    }
  };
</script>

<style>
  #app {
    text-align: center;
    padding: 20px;
  }
</style>
