<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Create Deal</div>
          <div class="card-body">
            <form @submit.prevent="submitForm">
              <div class="form-group">
                <input type="text" v-model="dealName" class="form-control" :placeholder="getFieldLabel('dealName')" required>
              </div>

              <div class="form-group">
                <input type="text" v-model="dealStage" class="form-control" :placeholder="getFieldLabel('dealStage')" required>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <select v-model="accountName" class="form-control" required>
                    <option v-for="option in accountOptions" :key="option.id" :value="option.Account_Name">{{ option.Account_Name }}</option>
                  </select>
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" @click="openModal">New</button>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <div v-if="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
            <div v-if="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Create Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form @submit.prevent="submitModalForm">
            <div class="form-group">
              <input type="text" v-model="accountName" class="form-control" id="accountName" placeholder="Enter account name" required>
            </div>
            <div class="form-group">
              <input type="text" v-model="accountWebsite" class="form-control" :placeholder="getFieldLabel('Enter account website')" required>
            </div>

            <div class="form-group">
              <input type="text" v-model="accountPhone" class="form-control" :placeholder="getFieldLabel('Enter account phone (+380)')" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal" @click="closeModal">Close</button>
          <button type="submit" class="btn btn-primary" @click="submitModalForm">Create</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  import axios from 'axios';

  export default {
    created() {
      this.fetchOptions();
      this.hideModal();
    },

    data() {
      return {
        dealName: '',
        dealStage: '',
        accountName: '',
        accountWebsite: '',
        accountPhone: '',
        errors: {},
        successMessage: '',
        errorMessage: '',
        accountOptions: [],
      };
    },

    methods: {

      async fetchOptions() {
        try {
          const response = await axios.post('http://localhost:8000/api/accounts');
          this.accountOptions = response.data.response.data;
          this.accountName = response.data.response.data[0].Account_Name;
        } catch (error) {
          console.error(error);
        }
      },

      openModal() {
        const modal = document.getElementById('myModal');
        if (modal) {
          modal.style.display = 'block';
          modal.classList.add('show');
        }
      },

      hideModal() {
        const modal = document.getElementById('myModal');
        if (modal) {
          modal.classList.remove('show');
          modal.style.display = 'none';
          const backdrop = document.getElementsByClassName('modal-backdrop');
          if (backdrop.length > 0) {
            backdrop[0].parentNode.removeChild(backdrop[0]);
          }
        }
      },

      closeModal() {
        const modal = document.getElementById('myModal');
        if (modal) {
          modal.style.display = 'none';
          modal.classList.remove('show');
        }
      },

      clearSuccessMessage() {
        this.errorMessage = '';
        this.successMessage = '';
      },

      getFieldLabel(fieldName) {
        return fieldName.charAt(0).toUpperCase() + fieldName.slice(1);
      },

      async submitModalForm() {
        this.errors = {};

        if (!this.accountName) {
          this.errors.accountName = 'Enter account Name';
        }
        if (!this.accountWebsite) {
          this.errors.accountWebsite = 'Enter account website';
        } else {
          const httpRegex = new RegExp(
                  '^([a-zA-Z]+:\\/\\/)?' + // protocol
                  '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
                  '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR IP (v4) address
                  '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
                  '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
                  '(\\#[-a-z\\d_]*)?$', // fragment locator
                  'i'
          );
          if (!httpRegex.test(this.accountWebsite)) {
            this.errors.accountWebsite = 'Invalid Account Website format';
          }
        }
        if (!this.accountPhone) {
          this.errors.accountPhone = 'Enter account phone';
        } else {
          const phoneRegex = /^(\+38|8)?0[0-9]{9}$/;
          if (!phoneRegex.test(this.accountPhone)) {
            this.errors.accountPhone = 'Invalid Account Phone format';
          }
        }

        if (Object.keys(this.errors).length > 0) {
          this.errorMessage = Object.values(this.errors)[0];
          this.successMessage = '';
        } else {
          try {
            const response = await axios.post('http://localhost:8000/api/account', {
              accountName: this.accountName,
              accountWebsite: this.accountWebsite,
              accountPhone: this.accountPhone,
            });

            console.log(response.data);

            this.successMessage = 'Account created successfully!';
            this.errorMessage = '';
            this.clearFormFields();
          } catch (error) {
            this.errorMessage = error.message;
            this.successMessage = '';
          }
        }
      },

      async submitForm() {
        this.errors = {};

        if (!this.dealName) {
          this.errors.dealName = 'Deal Name is required';
        }
        if (!this.dealStage) {
          this.errors.dealStage = 'Deal Stage is required';
        }
        if (!this.accountName) {
          this.errors.accountName = 'Account Name is required';
        }
        if (Object.keys(this.errors).length > 0) {
          this.errorMessage = Object.values(this.errors)[0];
          this.successMessage = '';
        } else {
          try {
            await axios.post('http://localhost:8000/api/deal', {
              dealName: this.dealName,
              dealStage: this.dealStage,
              accountName: this.accountName
            });

            this.successMessage = 'Deal created successfully!';
            this.errorMessage = '';
            this.clearFormFields();
          } catch (error) {
            this.errorMessage = error.message;
            this.successMessage = '';
          }
        }
      },

      clearFormFields() {
        this.dealName = '';
        this.dealStage = '';
        this.accountName = '';
        this.accountWebsite = '';
        this.accountPhone = '';
      },

    },
  };
</script>

<style>
  .card {
    margin-top: 50px;
  }

  .card-header {
    font-size: 18px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .font-weight-bold {
    font-weight: bold;
  }
</style>
